/engine/docs
/engine/editor
/engine/exports
/engine/extensions
/engine/external
/engine/licenses
/engine/native
/engine/node_modules
/engine/packages
/engine/pal
/engine/scripts
/engine/templates
/engine/tests
/engine/vendor
/engine/.editorconfig
/engine/.eslintignore
/engine/.eslintrc.yaml
/engine/.npmrc
/engine/.nvmrc
/engine/AUTHORS.txt
/engine/babel.config.js
/engine/cc.config.json
/engine/cc.config.schema.json
/engine/DebugInfos.d.ts
/engine/DebugInfos.json
/engine/EngineErrorMap.md
/engine/jest.config.js
/engine/LICENSE.md
/engine/package.json
/engine/package-lock.json
/engine/predefine.ts
/engine/README.md
/engine/README.zh-CN.md
/engine/tsconfig.json
/engine/typedoc.json
/engine/typedoc-index.ts
/engine/ui.png
/engine/.circleci
/engine/.vscode
/engine/@types
/engine/bin/.declarations
/engine/bin/native-preview
/engine/bin/.cache
/engine/cocos/root.ts
/engine/cocos/3d
/engine/cocos/animation
/engine/cocos/asset
/engine/cocos/audio
/engine/cocos/base
/engine/cocos/core
/engine/cocos/dragon-bones
/engine/cocos/game
/engine/cocos/gfx
/engine/cocos/gi
/engine/cocos/input
/engine/cocos/misc
/engine/cocos/native-binding
/engine/cocos/particle
/engine/cocos/particle-2d
/engine/cocos/physics
/engine/cocos/physics-2d
/engine/cocos/primitive
/engine/cocos/profiler
/engine/cocos/rendering
/engine/cocos/render-scene
/engine/cocos/scene-graph
/engine/cocos/serialization
/engine/cocos/sorting
/engine/cocos/spine
/engine/cocos/terrain
/engine/cocos/tiledmap
/engine/cocos/tween
/engine/cocos/ui
/engine/cocos/video
/engine/cocos/webgpu
/engine/cocos/web-view
/engine/cocos/xr
/engine/cocos/deprecated.ts
/engine/cocos/root.jsb.ts
/engine/cocos/2d/index.ts
/engine/cocos/2d/assembler
/engine/cocos/2d/assets
/engine/cocos/2d/event
/engine/cocos/2d/renderer
/engine/cocos/2d/utils
/engine/cocos/2d/category.json
/engine/platforms/native
/engine/platforms/runtime
/engine/platforms/.eslintrc.yaml
/engine/platforms/minigame/openDataContext
/engine/platforms/minigame/platforms
/engine/platforms/minigame/README.md
/engine/bin/adapter/native
/engine/bin/adapter/runtime
